 .items {
     justify-content: center;
     display: flex;
     flex-direction: column;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     align-items: center;
 }
 
 .card {
     box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2);
     transition: 0.3s;
     width: 308px;
     height: 175px;
     border: 1px solid blue;
     text-align: center;
     top: 15px;
     font-family: Georgia, 'Times New Roman', Times, serif;
 }
 
 .card:hover {
     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
 }
 
 .container {
     padding: 2px 16px;
 }
 
 .beta {
     background-color: whitesmoke;
 }
 
 .logo {
     width: 75px;
     height: 75px;
     margin-bottom: 25px;
 }
 
 .but {
     margin-top: 15px;
 }
 
 .butt {
     margin-top: 10px;
     background-color: #555555;
     border: none;
     color: white;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 15px;
     border-radius: 12px;
     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     width: 100px;
     height: 25px;
     margin-bottom: 15px;
 }
 
 .butt:hover {
     background-color: darkcyan;
 }
 
 .text-input {
     width: 300px;
 }
 
 input[type=text] {
     height: 18px;
     width: 300px;
     border: 1px solid blue;
     margin-bottom: 5px;
 }
 
 textarea[type=text] {
     border: 1px solid blue;
 }
 
 .but1 {
     margin-top: 10px;
     background-color: blue;
     border: none;
     color: white;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 15px;
     border-radius: 12px;
     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     width: 75px;
     height: 25px;
     margin-bottom: 15px;
 }
 
 .but1:hover {
     background-color: #555555;
 }
 
 .but2:hover {
     background-color: #555555;
 }
 
 .but2 {
     margin-top: 10px;
     background-color: red;
     border: none;
     color: white;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 15px;
     border-radius: 12px;
     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     width: 75px;
     height: 25px;
     margin-bottom: 15px;
 }
 
 .flex {
     display: flex;
     flex-wrap: wrap;
     max-width: 1000px;
 }
 
 .flex>div {
     margin: 5px;
 }